<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="350"/>
    <title>New</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/list.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
</head>

<body>
    <!-- modals -->
    <div id="add-item" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="form_additem" action="" method="POST">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
                        </div>
                        <input name="name" value="" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Medida:</label>
                        </div>
                        <select name="metric" class="custom-select" id="inputGroupSelect01">
                          <option selected>Unidade de medida</option>
                          <option value="1">Uni</option>
                          <option value="2">Kg</option>
                          <option value="2">Cm</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Qtde:</span>
                        </div>
                        <input value="" name="qtde"type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <input name="price" value="0" id="price" value="" class="form-control" type="hidden">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- end modals -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Criar {{content_page.name}}</a>
    </nav>

    <div class="options" style="padding-top: 20px; padding-bottom: 10px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a href="#" class="edit-project btn btn-primary" data-toggle="modal">New Item</a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table lista-produtos" id="lista-produtos">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Medida</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Opções</th>
                </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="table-bottom" style="padding-top: 20px; padding-bottom: 10px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-end">
                <button href="#" class="save-list btn btn-success" data-toggle="modal">Salvar</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <script>
		$(document).ready(function () {
			$('.edit-project').click(function (event) {
				event.preventDefault();
				$('.modal-body input').attr('value', $(this).attr('data-id'));
				$('#add-item').modal('show');
			});
		});
    </script>
    <script>
        $(function() {
            $('#form_additem').on("submit",function(e) {
                e.preventDefault(); // cancel the actual submit
                var name = e.target['name'].value
                var metricselected = e.target['metric'].options["selectedIndex"]
                var metric = e.target['metric'].options[metricselected].text
                var qtde = e.target['qtde'].value
                var price = e.target['price'].value
                var tabela = document.getElementById("lista-produtos");
                var numeroLinhas = tabela.rows.length;
                var linha = tabela.insertRow(numeroLinhas);
                var celula1 = linha.insertCell(0);
                var celula2 = linha.insertCell(1);
                var celula3 = linha.insertCell(2);
                var celula4 = linha.insertCell(3);
                var celula5 = linha.insertCell(4);
                celula1.innerHTML = name 
                celula2.innerHTML = metric 
                celula3.innerHTML = qtde 
                celula4.innerHTML = price
                celula5.innerHTML = "<div class='d-flex justify-content-around'><button type='button' class='remove btn btn-danger btn-sm'>Remover</button></div>"
                $('#add-item').modal('hide')
            });
        });
    </script>
    <script>
        $('#add-item').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });
    </script>

    <script>
        $("#lista-produtos").on('click','.remove',function(){
            $(this).closest('tr').remove(); //remove its root parent tr using closest
        });     
    </script>

    <script>
		$(document).ready(function () {
			$('.edit-project').click(function (event) {
				event.preventDefault();
				$('.modal-body input').attr('value', $(this).attr('data-id'));
				$('#edit-modal').modal('show');
			});
		});
	</script>
    
    <script>
        $('.save-list').click(function (event) {
            event.preventDefault();
            var ary = [];
            var contentJson = [];
            var table = $("table tbody");
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td'),
                    name = $tds.eq(0).text(),
                    metric = $tds.eq(1).text(),
                    qtde = $tds.eq(2).text();
                    price = $tds.eq(3).text();
                // do something with productId, product, Quantity
                ary.push({ name: name, metric: metric, qtde: qtde, price:price});
            });
            contentJson.push({NameList:"{{content_page.name}}",ListContent:ary});    
            enviaJson(contentJson);
        });
    </script>
    <script>
        function enviaJson(contentJson){
            url = '/save/list'
            axios.post(url, contentJson, {
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(response => {
                location.href = "/"
                console.log(response)
            }).catch(error => {
                console.log(error)
            })
        }
    </script>
</body>



</html>