<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="350"/>
    <title>GitHub - Gormom</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='database.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GitHub -</a>
        <div class="nav justify-content-end" id="navbarText">
            <ul class="nav justify-content-end ">
                <li class="nav-item"><a class="nav-link" id="navActive">Projects</a></li>
                <li class="nav-item"><a class="nav-link" id="navNotActive" href="/keys">Keys</a></li>
                <li class="nav-item"><a class="nav-link status" id="navStatus" style="">Status: </a></li>
            </ul>
        </div>
    </nav>
</body>



</html>