<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="350"/>
    <title>Index</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/list.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <!-- Modal -->
        <div id="newlist_modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form id="form_newlist" action="/create/list" method="POST">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
                            </div>
                            <input name="name" id="name" value="" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Criação:</span>
                            </div>
                            <input value="" name="creationdate" id="creationdate" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    <!-- End Modal -->


    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Listagem das Listas</a>
    </nav>

    <div class="" style="padding-top: 20px;">
        <h3><p class="text-center">Todas as listas criadas anteriormente no sistema</p></h3>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Creation</th>
                    <th scope="col">Option</th>
                </tr>
                </thead>
                <tbody>
                    {% if content_page.checked|length == 0 %}
                    <tr>
                        <td><p class="text-center">Não há listas cadastradas no banco</p></td>
                    </tr>
                {% else %}
                    {% for item in content_page.checked %}
                            <tr>
                                <form id="form_newlist" action="/view/list" method="POST">
                                    <td>{{item.name}}</td>
                                    <td>{{item.date}}</td>
                                    <input value="{{item.name}}" name="name" id="creationdate" type="text" class="invisible form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    <td class="actions">
                                        <button type="submit" class="btn btn-success popupimg" data-id="" data-toggle="modal" >Ver</button>
                                    </td>
                                </form>
                            </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <button type="button" class="newlist btn btn-primary">Nova</button>
        </div>
        <div class="col-2"></div>
    </div>

    <script>
		$(document).ready(function () {
			$('.newlist').click(function (event) {
				event.preventDefault();
                var nowdate = datenow();
                $("#creationdate").val(nowdate);
				$('#newlist_modal').modal('show');
			});
		});
	</script>
    <script>
		function datenow(){
            var todayDateEUA = new Date().toISOString().slice(0,10);
            var todayDateSplited = todayDateEUA.split("-")
            var todayDate = todayDateSplited[2]+"-"+todayDateSplited[1]+"-"+todayDateSplited[0]
            return todayDate
		};
	</script>

</body>



</html>